{% extends "roboco/layout.html" %}
{% block title %}Roboco - {{ upload.title }}{% endblock%}
{% block content %}
  <div class="relative border-2 border-white px-3 py-6 shadow max-w-3xl text-white">
    <div class="absolute bg-black w-full h-full top-0 left-0 opacity-10 -z-10 pointer-events-none"></div>
    <h1 class="text-3xl mx-auto text-center">{{ upload.title }}</h1>
    <img class="mx-auto" src="/{{ upload.image }}" alt="{{ upload.title }}">
    <span class="text-sm text-gray-200 italic">{{ upload.created_at }}</span>
  </div>
{% endblock %}