{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Roboco</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
  {% load static %}
  <body
    class="flex flex-col min-h-screen justify-between"
    style="
      background-image: url('{% static 'img/bg.jpg' %}');
      background-size: cover;
      background-position: center;
    "
  >
    <div
      class="min-h-screen min-w-[100vw] backdrop-blur-md lg:backdrop-blur-xl giga:backdrop-blur-2xl"
    >
      <div class="w-full h-full">{% block content %}{% endblock content %}</div>
    </div>
  </body>
</html>
