{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{% block title %}Roboco{% endblock %}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    {% tailwind_css %}
  </head>
  {% load static %}
  <body
    class="flex flex-col min-h-screen justify-between"
    style="
      background-image: url('{% static 'img/bg.jpg' %}');
      background-size: cover;
      background-position: center;
    "
  >
    <div
      class="min-h-screen min-w-[100vw] backdrop-blur-md lg:backdrop-blur-xl giga:backdrop-blur-2xl relative"
    >
      <!-- BEGIN NAV -->
      <div
        class="absolute h-12 border-b m-0 w-[96vw] mx-[2vw] flex justify-between"
      ></div>
      <div class="absolute w-[98vw] h-12 flex justify-between mx-[1vw]">
        <div class="flex items-center text-xl">
          <a href="/">
            <span class="text-pink-400">Roboco</span
            ><span class="text-yellow-400">.</span
            ><span class="text-white">dev</span>
          </a>
        </div>
        <div class="flex items-center text-xl">
          <a
            type="submit"
            href="/login"
            class="w-full rounded-sm px-3 py-1 text-xl text-gray-100 bg-transparent border-gray-100 border-2 hover:bg-gray-100 hover:border-gray-700 hover:text-gray-700 transition duration-500 ease-in-out"
          >
            Login
          </a>
        </div>
      </div>

      <!-- END NAV -->
      <div class="w-full flex min-h-screen justify-center items-center">
        {% block content %}{% endblock content %}
      </div>
    </div>
  </body>
</html>
