{% extends "users/form.html" %}
{% load otp_webauthn %}
{% block title %}Roboco - Welcome Back{% endblock  %}
{% block formtitle %}Sign In{% endblock %}
{% block submit %}Log In{% endblock %}
{% block formextra %}
<span id="passkey-verification-placeholder"></span>

<template id="passkey-verification-available-template">
  <button
      class="w-full mt-4 rounded-sm px-3 py-2 text-3xl text-gray-100 bg-transparent border-gray-100 border-2 hover:bg-gray-100 hover:border-gray-700 hover:text-gray-700 transition duration-500 ease-in-out" type="button" id="passkey-verification-button">Login using a Passkey</button>
  <div id="passkey-verification-status-message"></div>
</template>

<template id="passkey-verification-unavailable-template">
  <p>Sorry, your browser has no Passkey support</p>
</template>
{% render_otp_webauthn_auth_scripts username_field_selector="input[name='username']" %}

{% endblock %}
{% block extra %}

<small class="text-xs text-pink-400 w-max">
  New to Roboco<span class="text-yellow-400">?</span>
<a
  href="{% url 'register' %}"
  class="text-white hover:text-purple-400 transition ease-in-out duration-500">
  Create an account
</a></small>
{% endblock %}
